/* Abbiamo tolto il pallino degli li */
ul li {
  list-style-type: none;
}

/* Tolto l'underline del tag a */
a {
  text-decoration: none;
}

.innest-lists .style-type-decimal {
  list-style-type: decimal;
}

.innest-lists .style-type-alpha {
  list-style-type: lower-alpha;
}

/* Azzeriamo il padding */
.my-pad-0 {
  padding: 0;
}

/* Gestiamo le liste innestate */
.innest-lists ul {
  margin-top: 1rem;
}

/* Margini degli li nel Q&A */
.innest-lists ul li {
  margin-top: 0.8rem;
}

#questions-and-answers {
  margin: 0;
}

/* *******
HEADER
****** */

/* 
Margin al Body per porre l'header
in position fixed
*/

body {
  margin-top: 130px;
}

hr {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: #fff;
}

figure {
  width: 100px;
  height: 40px;
}

/* Comportamemto dell'immagine */
figure img {
  max-width: 100%;
  height: 100%;
}

/* Modelliamo l'icona del'utente */
.user {
  width: 30px;
  height: 30px;

  border-radius: 50%;

  background-color: #8d6e63;

  color: white;
}
/* Cambiamo il colore del tag a */
header nav ul li a {
  color: black;
}

/* Effetto di hover sui links nell'header */
header nav ul li:hover {
  color: dodgerblue;
  cursor: pointer;
}

/* *******
 FOOTER
 ****** */

/* Definiamo la posizione del footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #f5f5f5;
}

/* Colore dei link */
footer li a {
  color: #dedede;

  font-size: 12px;
}

footer li a:hover {
  color: black;
}
